.button {
    height: 50px;
    width: 220px;
    text-align: center;
    font: 16px/50px $ur;
    color: #FFF;
    border: none;
    text-transform: uppercase;
    background-color: $accent;
    cursor: pointer;
    @include transition(all, .2s);
    &:hover {
        background-color: #FFF;
        color: $accent;
    }
}