.lastNews {
    background-image: url("../images/news_bg.jpg");
    background-position: 50% 50%;
    -webkit-background-size: cover;
         -o-background-size: cover;
            background-size: cover;
}

.newsList {
    @include flex($alignI: flex-start, $justify: flex-start);
}
.newsItem {
    width: 32%;
    margin-left: 0.666%;
    margin-right: 0.6666%;
    color: $text;
    position: relative;
    background-color: #FFF;
    @include transition(all, .2s);
    &__img {
        width: 100%;
        height: 200px;
        position: relative;
        overflow: hidden;
        img {
            min-height: 100%;
            min-width: 100%;
            max-width: 120%;
            @include transition(all,.2s);
        }
    }
    &__date {
        position: absolute;
        bottom: 0;
        left: 20px;
        line-height: 20px;
        padding: 0 6px;
        background-color: #FFF;
        color: $accent;
        font-size: 12px;
    }
    p {
        background-color: #FFF;
        padding: 20px 23px;
        min-height: 100px;
        text-align: left;
    }
    &:after {
        content: "";
        display: block;
        position: absolute;
        bottom: 0;
        background-color: #FFF;
        height: 20px;
        left: 0;
        width: 100%;
        -webkit-transition: bottom 0.2s;
           -moz-transition: bottom 0.2s;
            -ms-transition: bottom 0.2s;
             -o-transition: bottom 0.2s;
                transition: bottom 0.2s;
    }
    &:hover {
        -webkit-transform: translateY(-20px);
           -moz-transform: translateY(-20px);
            -ms-transform: translateY(-20px);
             -o-transform: translateY(-20px);
                transform: translateY(-20px);
        img {
            -webkit-transform: scale(1.04);
               -moz-transform: scale(1.04);
                -ms-transform: scale(1.04);
                 -o-transform: scale(1.04);
                    transform: scale(1.04);
        }
    }
}
.newsItem:hover:after {
    bottom: -20px;
}


.wp-pagenavi {
    display: block;
    margin: 50px auto 0 auto;
    width: auto;

    a,
    span {
        display: inline-block;
        vertical-align: middle;
        font-size: 21px;
        color: $text;
        font-family: $um;
        margin: 0 10px;
        -webkit-transition: color 0.3s ease;
        -o-transition: color 0.3s ease;
        transition: color 0.3s ease;
    }

    a.page:hover,
    span.current {
        color: #007AE4;
    }

    a.first,
    a.last {
        width: 10px;
        height: 25px;
        position: relative;

        &:before {
            content: '';
            width: 0;
            height: 0;
            position: absolute;
            top: 50%;
            left: 50%;
            -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            -o-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
        }
    }

    a.first:before {
        border-style: solid;
        border-width: 5px 5px 5px 0;
        border-color: transparent $text transparent transparent;
    }
    a.last:before {
        border-style: solid;
        border-width: 5px 0 5px 5px;
        border-color: transparent transparent transparent $text;
    }
}


.news {
    .newsItem {
        box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.5);
        margin-bottom: 50px;

        &:after {
            display: none;
        }

        &:hover {
            p {
                color: #007AE4;
            }
        }
    }
}