.partners {
    .partner {
        width: 25%;
        text-align: center;
        padding: 0 15px;

        @media (max-width: 540px) {
            width: 50%;
            margin: 15px 0;
        }

        img {
            max-width: 100%;
        }
    }
}