
// TYPOGRAPHIC
// ---------------------------
h1 {
    font: 84px $ub;
    color: #FFF;
    display: block;
    text-transform: uppercase;
}
.offer .subtitle {
    font: 21px $um;
    color: #FFF;
    text-transform: uppercase;
}
html,
body {
	height: 100%;
}
body {
    font-family: $ul;
    color: $text;
}


// lAYOUT
// ---------------------------
.wrapper {
	width: 960px;
	margin: 0 auto;
	text-align: center;
}
